API_PORT=4000
DATABASE_PATH=./database/music.db
STORAGE_ROOT=./storage
YTDLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg

# Set this to your Vercel frontend URL in production.
# You can include multiple origins separated by commas.
CORS_ORIGIN=http://localhost:3010,https://musicplayer.bokzgacilo.com
